
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://img.freepik.com/free-photo/majestic-mountain-peak-reflects-tranquil-pond-generated-by-ai_188544-23798.jpg?t=st=1691439928~exp=1691443528~hmac=466f64aa455200a673bdc50ccb63056babe0130c06e8fb7920b493f3cc0cb911&w=1380') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.clock-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

h2 {
  letter-spacing: 4px;
  font-size: 16px;
  margin-bottom: 7px;
  margin-right: 50px;
  color: #fff;
}

.clock {
  display: flex;
  gap: 8px;
}

.clock span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 182, 156, 0.66);
  font-size: 50px;
  color: #fff;
  height: 80px;
  width: 100px;
  opacity: 0.8;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.3);
}

button {
  margin-top: 80PX;
  font-size: 20px;
  padding: 3px 8px;
  font-weight: bold;
  border: none;
  color: #fff;
  background-color: rgba(87, 113, 20, 0.789);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgba(5, 53, 53, 0.916);
  opacity: 0.8;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer div {
  width: 100%;
  position: relative;
  bottom: 5px;
  color: #c9c0c0;
}


/***************************** Media query ****************************/

@media (max-width: 500px) {
  .clock span {
    width: 60px;
    height: 40px;
    font-size: 28px;
  }
  body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
  }
  button {
    font-size: 12px;
    margin-top: 31px;
    padding-top: 6px;
  }
  .clock .text {
    font-size: 7px;
    height: 15px;
  }
  footer {
  font-size: 10px;
  }
  h2 {
    font-size: 5px;
  }
}
